body {
    margin: 0;
}

@font-face{
    font-family: 'Cursed Timer ULiL', sans-serif;
    src: 'http://fonts.cdnfonts.com/css/cursed-timer-ulil';
}

h3{
    margin-bottom: 1rem;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    height: 100vh;
}

#home{
    color: #9AABD8;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#guest{
    color: #9AABD8;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.board{
    background-color: black;
    height: 6rem;
    width: 7rem;
    justify-content: space-between;
    font-family: 'Cursed Timer ULiL';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-top: 5px;
    color: #F94F6D;
}

.buttons{
    margin-top: .5rem;
    display: flex;
    align-items: center;
    width: 7rem;
    justify-content: space-between;
}

.button{
    background-color: inherit;
    border: 1px #9AABD8 solid;
    color: #9AABD8;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    padding-top: 4px;
}

.button:hover{
    cursor: pointer;
}